<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <unicorn>
            <configurations>
                <configuration name="Feature.DummyContent" description="Feature.DummyContent" dependencies="Foundation.*" extends="Helix.Feature" />
            </configurations>
        </unicorn>
    </sitecore>
</configuration>
